In [1]:
from scipy.stats import poisson
Interarrival_Time = poisson.rvs(mu=5.6, size=19)

print(Interarrival_Time)

[ 7  5 14  6  6  7  2  4  5  6  7  8  7  2  3  6  5  3  7]

In [2]:
sum = 0
arrival_Time = [0]
for i in Interarrival_Time:
  sum += i
  arrival_Time.append(sum)

In [3]:
from scipy.stats import expon
Service_Time = expon.rvs(scale = 0.5,loc = 5,size = 20)

In [4]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
d = {'customer no': [1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
     'Interarrival Time': [0, 12, 6, 5, 2, 6, 6, 5, 6, 1, 5, 3, 4, 7, 6, 5, 11, 5, 4, 11],
     }
df = pd.DataFrame(data=d)

In [5]:
df["Arrival Time"] = arrival_Time

In [6]:
df["Service Time"] = Service_Time

In [7]:
df["Time Service Begin"] = Service_Time

In [8]:
Time_service_begins = [0]
Time_service_ends = []

for x in range(0, 20):
  if(x>0):
    Time_service_begins.append(max(arrival_Time[x], Time_service_ends[x-1]))
    
  Time_service_ends.append(Service_Time[x] + Time_service_begins[x])

In [9]:
df["Time Service Begin"] = Time_service_begins

In [10]:
df["Waiting Time"] = df["Time Service Begin"] - df["Arrival Time"]
df["Time Service End"] = Time_service_ends

In [11]:
df["The Customer Spends in the System"]= df["Service Time"] + df["Waiting Time"]

In [12]:
idle_time_of_service = [0]

for i in range(1, 20):
  if(arrival_Time[i] > Time_service_ends[i - 1]):
    idle_time_of_service.append(arrival_Time[i] - Time_service_ends[i - 1])
  else:
    idle_time_of_service.append(0)

In [13]:
df["Idle Time of Server"] =idle_time_of_service

In [14]:
from tabulate import tabulate 


print(tabulate(df, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+----------------+----------------+----------------------+----------------+--------------------+-------------------------------------+-----------------------+
|    |   customer no |   Interarrival Time |   Arrival Time |   Service Time |   Time Service Begin |   Waiting Time |   Time Service End |   The Customer Spends in the System |   Idle Time of Server |
|----+---------------+---------------------+----------------+----------------+----------------------+----------------+--------------------+-------------------------------------+-----------------------|
|  0 |             1 |                   0 |              0 |        5.88158 |               0      |       0        |            5.88158 |                             5.88158 |              0        |
|  1 |             2 |                  12 |              7 |        5.68385 |               7      |       0        |           12.6838  |                             5.68385 |              1.11842  |
|  2 |             3 |                   6 |             12 |        6.22093 |              12.6838 |       0.683846 |           18.9048  |                             6.90478 |              0        |
|  3 |             4 |                   5 |             26 |        5.05898 |              26      |       0        |           31.059   |                             5.05898 |              7.09522  |
|  4 |             5 |                   2 |             32 |        5.28929 |              32      |       0        |           37.2893  |                             5.28929 |              0.941022 |
|  5 |             6 |                   6 |             38 |        5.16757 |              38      |       0        |           43.1676  |                             5.16757 |              0.710711 |
|  6 |             7 |                   6 |             45 |        5.77065 |              45      |       0        |           50.7707  |                             5.77065 |              1.83243  |
|  7 |             8 |                   5 |             47 |        5.08242 |              50.7707 |       3.77065  |           55.8531  |                             8.85307 |              0        |
|  8 |             9 |                   6 |             51 |        5.06904 |              55.8531 |       4.85307  |           60.9221  |                             9.92211 |              0        |
|  9 |            10 |                   1 |             56 |        5.47068 |              60.9221 |       4.92211  |           66.3928  |                            10.3928  |              0        |
| 10 |            11 |                   5 |             62 |        5.11134 |              66.3928 |       4.39279  |           71.5041  |                             9.50414 |              0        |
| 11 |            12 |                   3 |             69 |        5.86575 |              71.5041 |       2.50414  |           77.3699  |                             8.36988 |              0        |
| 12 |            13 |                   4 |             77 |        5.23145 |              77.3699 |       0.369884 |           82.6013  |                             5.60133 |              0        |
| 13 |            14 |                   7 |             84 |        5.72123 |              84      |       0        |           89.7212  |                             5.72123 |              1.39867  |
| 14 |            15 |                   6 |             86 |        5.48948 |              89.7212 |       3.72123  |           95.2107  |                             9.2107  |              0        |
| 15 |            16 |                   5 |             89 |        5.10106 |              95.2107 |       6.2107   |          100.312   |                            11.3118  |              0        |
| 16 |            17 |                  11 |             95 |        6.28044 |             100.312  |       5.31176  |          106.592   |                            11.5922  |              0        |
| 17 |            18 |                   5 |            100 |        5.15111 |             106.592  |       6.59219  |          111.743   |                            11.7433  |              0        |
| 18 |            19 |                   4 |            103 |        6.92935 |             111.743  |       8.7433   |          118.673   |                            15.6726  |              0        |
| 19 |            20 |                  11 |            110 |        6.75779 |             118.673  |       8.67265  |          125.43    |                            15.4304  |              0        |
+----+---------------+---------------------+----------------+----------------+----------------------+----------------+--------------------+-------------------------------------+-----------------------+